html,body {

    background-image: url(../img1.png);
    margin: 0;
    padding: 0;

}

:root {
    --bg--primary: #00a4db;
    --bg--secondary: #bebfde;
    --txt--primary: #f7f7f7;
    --txt--secondary: #222222;
    --Icon--bg--primary: rgb(19, 19, 19);
    --icon--bg--secondry: #12006d;
}

.navbar {

    background-color: #281e1e;
    position: fixed;
    width: 100%;

}

.navbar a {

    float: left;
    padding: 10px 18px ;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-family: bold;
 
}

.navbar a:hover{

    background-color: #b0b8b0;
    color: black;

}

.active {

    background-color: green;

}

.wrapper {

    margin-top: 22px;
    justify-content: center;
    width: 100%;
    height: auto;
}

.card {

    border: 1.5px solid rgb(0, 0, 0);
    box-shadow: 4px 4px 6px black;
    background-color: var(--bg--secondary);
    color: var(--txt--secondary);
    padding: 100px;
    margin: 0px;

}

.center {

    text-align: center;

}

.icons {

    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 24px;
    color: var(--Icon--bg--primary);

}

.btn, .a1 {

    cursor: pointer;
    background-color: #e9eaf1;
    padding: 6px;
    color: #12006d;
    text-decoration: none;
    border: none;

}